*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.card-wall {
	padding: 1em;
}

.card-wall > .card-group {
	white-space: nowrap;
}

.card-group:empty {
	height: 30px !important;
}

.card-group,
.card {
	list-style: none;
	margin: 0;
	padding: 0;
}

.card {
	padding-left:  15px;
	padding-right:  15px;
	display: block;
	cursor: move;
}

.card-front {
	padding: 10px 0;
}

/* 1st level cards */
.card-wall > .card-group > .card {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;
	padding-left: 0;
	padding-right: 0;
	background-color: #3188AB;
	border-radius: 5px;
}

.card-wall > .card-group > .card > .card-front {
	padding: 10px 15px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

/* 2nd level cards */
.card-wall > .card-group > .card > .card-group:not(:empty) {
	padding-top: 30px;
}

.card-wall > .card-group > .card > .card-group > .card {
	background-color: #D9E2E8;
	border-top: 2px solid #fff;
	padding-bottom: 1px;
}

.card-wall > .card-group > .card > .card-group > .card:last-child {
	border-bottom: 2px solid #fff;
	margin-bottom: 1em;
}

.card-wall > .card-group > .card > .card-group > .card > .card-front {
	font-weight: bold;
	color: #3188AB;
}

/* 3rd level cards */
.card-wall > .card-group > .card > .card-group > .card > .card-group > .card {
	background-color: #fff;
	border: 1px solid #A8C0CD;
	margin-bottom: 10px;
}

/* 4th level cards */
.card-wall > .card-group > .card > .card-group > .card > .card-group > .card > .card-group > .card {
	background-color: #FFF1E2;
	border: 1px solid #D5BE97;
	margin-bottom: 10px;
}

/* 5th level cards */
.card-wall > .card-group > .card > .card-group > .card > .card-group > .card > .card-group > .card > .card-group > .card {
	background-color: #fff;
	border: 1px solid #A8C0CD;
	margin-bottom: 10px;
}


